body {
	background-image: url("http://i.imgur.com/TNmFrsH.png");
}

.jumbotron {
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	background-color: #78D4F6;
}

label,  #foodDrink-search {
	margin-top: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

#foodDrink-search {
	border-radius: 7px;
}

.foodDrinks {
	margin-left: 20px;
	border-radius: 7px;
}

#form {
	text-align: center;
}

#gifs-here {
	display: inline-block;
}

#gifs-here > div
{
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 4px;
}